<div id="main">
  <div class="inner">
    <header>
      <h1>{{ title }}</h1>
      <p>{{ content }}</p>
    </header>

    {% include "@organisms/thumbnail-grid.twig" with {
      boxStyle: item.style,
      boxImg: item.img,
      boxTitle: item.title,
      boxContent: item.content,
      boxAlt: item.alt,
      boxLink: item.link
    } %}

  </div>
</div>
