<div id="main main-content">
  <div class="inner main-content__wrapper">
    <header>
      <h1 class="main-content__title">{{ title }}</h1>
      <p class="main-content__content">{{ content }}</p>
    </header>

    {% include "@organisms/thumbnail-grid.twig" with {
      boxStyle: item.style,
      boxImg: item.img,
      boxTitle: item.title,
      boxContent: item.content,
      boxAlt: item.alt,
      boxLink: item.link
    } %}

  </div>
</div>
