$c-bg: #ffffff;
$c-bg-accent: #333333;
$c-bg-alt: #f6f6f6;
$c-fg: #585858;
$c-fg-accent: #ffffff;
$c-border: #c9c9c9;
$c-border-bg: rgba(144,144,144,0.075);
$c-accent1: #f2849e;
$c-accent2: #7ecaf6;
$c-accent3: #7bd0c1;
$c-accent4:	#c75b9b;
$c-accent5:	#ae85ca;
$c-accent6:	#8499e7;
