
<a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a>
<a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a>
<a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a>
<a href="#" class="icon style2 fa-dribbble"><span class="label">Dribbble</span></a>
<a href="#" class="icon style2 fa-github"><span class="label">GitHub</span></a>
<a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a>
<a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a>
<a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a>
