.thumbnail-grid {
  $gutter: _size(gutter);
  $duration: 0.5s;
  $ease: 'ease';

  @include vendor('display', 'flex');
  @include vendor('flex-wrap', 'wrap');
  postiion: relative;
  margin: ($gutter * -1) 0 0 ($gutter * -1);

  * + & {
    margin-top: _size(element-margin);
  }

  //media queries
  @include breakpoint(large) {
	  $gutter: _size(gutter) * 0.5;
	  margin: ($gutter * -1) 0 0 ($gutter * -1);
  }

  @include breakpoint(medium) {
  	$gutter: _size(gutter);
	  margin: ($gutter * -1) 0 0 ($gutter * -1);
  }

  @include breakpoint(small) {
	  $gutter: _size(gutter) * 0.5;
	  margin: ($gutter * -1) 0 0 ($gutter * -1);
  }

  @include breakpoint(xsmall) {
	  $gutter: _size(gutter) * 0.5;
	  margin: 0;
  }
}
