.thumbnail-grid {
  $gutter: _size(gutter);
  $duration: 0.5s;
  $ease: 'ease';

  @include vendor('display', 'flex');
  @include vendor('flex-wrap', 'wrap');
  postiion: relative;
  margin: ($gutter * -1) 0 0 ($gutter * -1);

  * + & {
  	margin-top: _size(element-margin);
  }

}

body.is-loading .thumbnail-grid {
  article {
    @include vendor('transform', 'scale(0.9)');
    opacity: 0;
  }
}

body.is-touch .thumbnail-grid {
  article {
    .content {
      max-height: 15em;
      opacity: 1;
    }
  }
}

@include breakpoint(large) {

  .thumbnail-grid {
	  $gutter: _size(gutter) * 0.5;
	  margin: ($gutter * -1) 0 0 ($gutter * -1);
  }

}

@include breakpoint(medium) {
  .thumbnail-grid{
  	$gutter: _size(gutter);
	  margin: ($gutter * -1) 0 0 ($gutter * -1);
  }
}

@include breakpoint(small) {
  .thumbnail-grid{
	  $gutter: _size(gutter) * 0.5;
	  margin: ($gutter * -1) 0 0 ($gutter * -1);
  }
}

@include breakpoint(xsmall) {
  .thumbnail-grid {
	  $gutter: _size(gutter) * 0.5;
	  margin: 0;
  }

}
