<section class="tiles thumbnail-grid">
  {% for item in items %}
    {% include "@molecules/box-thumbnail.twig" with {
      boxThumbnail: {
        style: item.style,
        img: item.img,
        title: item.title,
        content: item.content,
        alt: item.alt,
        link: item.link
      }
    } %}

  {% endfor %}
</section>
