<section class="tiles">

{% include "@molecules/box-thumbnail.twig" with {
  style: 'style1',
  img: '../../../../images/pic01.jpg'
} %}

{% include "@molecules/box-thumbnail.twig" with {
  style: 'style2',
  img: '../../../../images/pic02.jpg'
} %}

{% include "@molecules/box-thumbnail.twig" with {
  style: 'style3',
  img: '../../../../images/pic03.jpg'
} %}

</section>
