<section class="tiles">
  {% for item in items %}
    {% include "@molecules/box-thumbnail.twig" with {
      boxthumbnail: {
      class: item.style,
      img: item.img,
      title: item.title,
      content: item.content,
      link: item.link,
      alt: item.alt
      }
    } %}

  {% endfor %}
</section>
