<section class="tiles">
  {% for item in items %}
    {% include "@molecules/box-thumbnail.twig" with {
      boxStyle: item.style,
      boxImg: item.img,
      boxTitle: item.title,
      boxContent: item.content,
      boxAlt: item.alt,
      boxLink: item.link
    } %}

  {% endfor %}
</section>
