<section class="tiles">
  {% for item in items %}
    {% include "@molecules/box-thumbnail.twig" with {
      style: item.style,
      img: item.img,
      title: item.title,
      content: item.content
    } %}

  {% endfor %}
</section>
