<a href="{{ branding.link }}" class="logo branding">
	<span class="symbol branding__wrapper">
    {% include '@atoms/logo.twig' %}
  </span>
  <span class="title branding__title">{{ branding.title }}</span>
</a>
