<article class="{{ style }}">
	<span class="image">
		<img src="{{ img }}" alt="" />
	</span>
	<a href="#">
		{% if title %}<h2>{{ title }}</h2>{% endif %}
			<div class="content">
				<p>{{ content }}</p>
			</div>
	</a>
</article>
