.contact-form{
  &:nth-child(1) {
    width: calc(66% - #{$gutter});
    margin-right: $gutter;
  }

  &:nth-child(2) {
    width: calc(33% - #{$gutter});
    margin-left: $gutter;
  }
}


.contact-form__form-wrapper {
  margin: (_size(element-margin) * -0.5) 0 _size(element-margin) 0;

  &::after {
    content: '';
    display: block;
    clear: both;
    height: 1px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.field {
  position: relative;
  float: left;
  margin: 0 0 (_size(element-margin) * 0.65) 0;
  vertical-align: top;
  width: 100%;
}

.half {
  width: calc(50% + #{_size(field-gutter) * 0.5});
  padding-left: _size(field-gutter);

  &:nth-last-child(2) {
    margin-bottom: 0;
  }

  &.first {
    width: calc(50% - #{_size(field-gutter) * 0.5});
    padding-left: 0;
  }

  @include breakpoint(xsmall) {
    width: 100%;
    padding-left: 0;

    &.first {
      width: 100%;
      padding-left: 0;
    }
    &:nth-last-child(2) {
      margin: 0 0 (_size(element-margin) * 0.65) 0;
    }
  }
}

.contact-form__button-wrapper {
  position: relative;
  clear: both;
  padding-top: (_size(element-margin) * 0.5);
}
