<section>
	<h2>Get in touch</h2>
	<form method="post" action="#">

    {% include '@atoms/input.twig' with {
      inputClass: 'field half first',
      inputType: 'text',
      inputName: 'name',
      inputPlaceholder: 'Name'
    } %}

		{% include '@atoms/input.twig' with {
      inputClass: 'field half',
      inputType: 'email',
      inputName: 'email',
      inputPlaceholder: 'Email'
    } %}

		{% include '@atoms/textarea.twig' with {
      inputClass: 'field',
      inputName: 'message',
      inputPlaceholder: 'Message'
    } %}

		{% include '@atoms/form-button.twig' with {
      type: 'submit',
      buttonText: 'Send'
    } %}

	</form>
</section>
