<section class="contact-form">
	<h2 class="contact-form__title">{{contact.title}}</h2>
	<form class="contact-form__form-wrapper" method="{{contact.formMethod}}" action="{{contact.action}}">

    {% include '@atoms/input.twig' with {
			input: {
			class: 'field half first',
      type: 'text',
      name: 'name',
      placeholder: 'Name'
			}

    } %}

		{% include '@atoms/input.twig' with {
      input: {
			class: 'field half',
      type: 'email',
      name: 'email',
      placeholder: 'Email'
			}
    } %}

		{% include '@atoms/textarea.twig' with {
      input: {
			class: 'field',
      name: 'message',
      placeholder: 'Message'
			}
    } %}

		{% include '@atoms/form-button.twig' with {
      button: {
			type: 'submit',
      text: 'Send'
			}
    } %}

	</form>
</section>
