<footer class="footer" id="footer">
  <div class="inner footer__wrapper">
    {% include '@molecules/contact-form.twig' %}
    {% include '@molecules/social-media.twig' %}
    {% include '@molecules/copyright.twig' %}
	</div>
</footer>
