<footer id="footer">
  <div class="inner">
    {% include '@molecules/contact-form.twig' %}
    {% include '@molecules/social-media.twig' %}
    <ul class="copyright">
  		<li>{{ content }}</li>
  	</ul>
	</div>
</footer>
