<footer class="footer" id="footer">
  <div class="inner footer__wrapper">
    {% include '@molecules/contact-form.twig' %}
    {% include '@molecules/social-media.twig' %}
    <ul class="copyright footer__copyright">
  		<li>{{ content }}</li>
  	</ul>
	</div>
</footer>
